[user]
	name = Marcus Pettersen Irgens
	email = m@mrcus.dev
	signingkey = {{.gpg.key}}

[commit]
	gpgsign = true

[init]
	defaultBranch = main

{{ if eq .chezmoi.os "darwin" }}
[diff]
	external = difft
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
[credential "https://github.com"]
	helper =
	helper = !$(brew --prefix)/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !$(brew --prefix)/bin/gh auth git-credential
{{ end }}

