localbin="$HOME/.local/bin"
if [ -d "$localbin" ]; then
  export PATH="$PATH:$localbin"
fi

for f in $HOME/.zprofile.d/*.zsh; do
  source "$f";
done


# Homebrew support
eval "$(/opt/homebrew/bin/brew shellenv)"
