#!/bin/sh
set -eu;

antibody bundle > "{{- .chezmoi.homeDir -}}{{- .zsh.plugins -}}/plugins.zsh" <<EOF
# Autosuggestions and completion
zsh-users/zsh-completions
zsh-users/zsh-autosuggestions
zsh-users/zsh-history-substring-search

# Async for the Pure prompt
mafredri/zsh-async

# Pure prompt
sindresorhus/pure
EOF
